<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /yemekhane-listesi/

    # Var olan bir dosya veya dizin değilse, isteği index.php'ye yönlendir
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /yemekhane-listesi/index.php [L]
</IfModule>
